{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Service History {% endblock %}</h1>
    
    <table class="styled-table">
        <thead>
        <tr>
            <th>Event ID</th>
            <th>Car ID</th>
            <th>Date</th>
            <th>Mileage</th>
            <th>Info</th>
            <th>Repeatable</th>
            <th>Next date</th>
            <th>Next mileage</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
            {% for key in service_history %}
            <tr><th>{{ key['ID'] }}</th>
            <th>{{ key['CAR_ID'] }}</th>
            <th>{{ key['EVENT_DATE'] }}</th>
            <th>{{ key['EVENT_MILLAGE'] }}</th>
            <th>{{ key['EVENT_DESCRITION'] }}</th>
            <th>{{ key['EVENT_REPEATABLE'] }}</th>
            <th>{{ key['NEXT_EVENT_DATE'] }}</th>
            <th>{{ key['NEXT_EVENT_MILLAGE'] }}</th>
            <th>
                <form method="post" action="{{ url_for('DeleteServiceHistory') }}">
                    <input type="hidden" name="EVENT_ID" value="{{ key['ID'] }}" id="EVENT_ID" />
                    <input type="hidden" name="CAR_ID" value="{{ key['CAR_ID'] }}" id="CAR_ID" />
                    <button type="submit">Delete</button>
                </form>
            </th>

            </tr>
            {% endfor %}
        </tbody>
     </table>
    <script>
        function Delete() {
          
        }
    </script>        

        
    {% endblock %}