{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add New Car {% endblock %}</h1>
    <form method="post">
        <label for="CAR_NAME">Car Name</label>
        <br>
        <input type="text" name="CAR_NAME"
               placeholder="Car name"
               value="{{ request.form['CAR_NAME'] }}"></input>
        <br>
        <label for="CAR_BRAND">Car Brand</label>
        <br>
        <input type="text" name="CAR_BRAND"
               placeholder="Car Brand"
               value="{{ request.form['CAR_BRAND'] }}"></input>
        <br>
        <label for="CAR_MODEL">Car Model</label>
        <br>
        <input type="text" name="CAR_MODEL"
               placeholder="Car Model"
               value="{{ request.form['CAR_MODEL'] }}"></input>
        <br>
        <label for="CAR_YEAR">Car Year</label>
        <br>
        <input type="text" name="CAR_YEAR"
               placeholder="Car Year"
               value="{{ request.form['CAR_YEAR'] }}"></input>
        <br>
        <label for="CAR_PLATE">Car Plate</label>
        <br>
        <input type="text" name="CAR_PLATE"
               placeholder="Car Plate"
               value="{{ request.form['CAR_PLATE'] }}"></input>
        <br>
        <br>        
        <button type="submit">Submit</button>
    </form>
{% endblock %}